name: Publish

on:
  release:
    types: [created]
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: jdx/mise-action@v2
        with:
          experimental: true

      - run: pipx install hatch

      - name: Check
        run: hatch run check

      - name: Test
        run: hatch run test

      - name: Build
        run: hatch build && hatch run verify-pkg

      - name: Publish to PyPI
        if: github.event_name == 'release'
        run: hatch publish --yes
        env:
          HATCH_INDEX_USER: __token__
          HATCH_INDEX_AUTH: ${{ secrets.PYPI_API_TOKEN }}

      - name: Publish to Test PyPI
        run: hatch publish -r test --yes
        env:
          HATCH_INDEX_USER: __token__
          HATCH_INDEX_AUTH: ${{ secrets.TEST_PYPI_API_TOKEN }}
