name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: jdx/mise-action@v2
        with:
          experimental: true

      - run: pipx install hatch

      - name: Check
        run: hatch run check

      - name: Test
        run: hatch run test

      - name: Build
        run: hatch build && hatch run verify-pkg
